//=======================================================================================================
.blog {
	&__content {
		padding: 90px 0px;
	}
	&__body {
		display: flex;
	}
	&__items {
	}
	&__item {
	}
}
.blog-posts {
	flex: 0 1 70%;
	margin: 0px 30px 0px 0px;
}
.item-post {
	display: flex;
	border-bottom: 3px solid #e5e6e6;
	padding: 42px 0px;
	&:first-child {
		padding-top: 0;
	}
	&__date {
	}
	&__body {
	}
}
.post-date {
	margin: 0px 30px 0px 0px;
	&__date {
		background-color: #f8f8f8;
		border-radius: 5px;
		border-bottom: 3px solid #e5e6e6;
		padding: 15px;
		text-align: center;
		margin: 0px 0px 17px 0px;
	}
	&__month {
		font-size: 20px;
		line-height: 14px;
		color: #7f8c8c;
		text-transform: uppercase;
		margin: 0px 0px 16px 0px;
	}
	&__day {
		font-size: 30px;
		line-height: 14px;
		font-weight: 800;
		color: #7f8c8c;
	}
	&__type {
		background-color: #7f8c8c;
		border-radius: 5px;
		border-bottom: 3px solid #e5e6e6;
		padding: 22px;
		text-align: center;
	}
}
.video-play {
	padding: 130px 0px 100px 0px;
}
.video-player {
	width: 700px;
	padding: 0px 0px 20px 0px;
}
.post-body {
	&__img {
		width: 700px;
		background-color: #f8f8f8;
		border-radius: 5px;
		border-bottom: 3px solid #e5e6e6;
		text-align: center;
		padding: 105px 0px;
		margin: 0px 0px 25px 0px;
	}
	&__audio {
		width: 700px;
		padding: 20px;
		background-color: #f8f8f8;
		border-radius: 5px;
		border-bottom: 3px solid #e5e6e6;
		margin: 0px 0px 25px 0px;
		img {
			width: 660px;
		}
	}
	&__video {
		width: 700px;
		background-color: #f8f8f8;
		border-radius: 5px;
		border-bottom: 3px solid #e5e6e6;
		text-align: center;
		margin: 0px 0px 25px 0px;
	}
	&__title {
		margin: 0px 0px 16px 0px;
	}
	&__link {
		font-size: 24px;
		line-height: 20px;
		font-weight: 600;
		color: #76c7c0;
		transition: color 0.3s ease 0s;
		&:hover {
			color: #e2534b;
		}
	}
	&__tags {
		display: flex;
		line-height: 20px;
		color: #7f8c8c;
	}
	&__info {
		line-height: 20px;
		color: #7f8c8c;
		margin: 36px 0px 24px 0px;
		&--m {
			margin: 36px 0px 0px 0px;
		}
	}
	&__read {
		a {
			line-height: 20px;
			color: #e2534b;
			transition: all 0.3s ease 0s;
			margin: 0px 9px 0px 0px;
			&:hover {
				color: rgb(196, 44, 36);
				text-decoration: underline;
			}
		}
	}
}
.tags-post {
	&__author {
		margin: 0px 16px 0px 0px;
	}
	&__link {
		color: #e2534b;
		transition: color 0.3s ease 0s;
		&:hover {
			color: #aa130b;
		}
	}
	&__theme {
		margin: 0px 16px 0px 0px;
		&:before {
			content: url(../img/icons/label.png);
			margin: 0px 3px 0px 0px;
		}
	}
	&__comments {
		&:before {
			content: url(../img/icons/comments.png);
			margin: 0px 3px 0px 0px;
		}
	}
}
.blog-settings {
	flex: 0 1 30%;
	&__title {
		text-transform: uppercase;
		margin: 0px 0px 25px 0px;
	}
	&__categories {
		display: flex;
		flex-direction: column;
		margin: 0px 0px 50px 0px;
		a {
			line-height: 30px;
			font-weight: 600;
			color: #e2534b;
			position: relative;
			padding: 0px 0px 0px 25px;
			margin: 0px 0px 0px 13px;
			transition: all 0.3s ease 0s;
			&:before {
				content: url(../img/icons/arrow_blue.png);
				position: absolute;
				top: 2px;
				left: 0;
			}
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
.blog-archive {
	&__body {
		display: flex;
		flex-direction: column;
		a {
			font-size: 14px;
			line-height: 30px;
			font-weight: 400;
			color: #e2534b;
			position: relative;
			padding: 0px 0px 0px 25px;
			margin: 0px 0px 0px 13px;
			transition: all 0.3s ease 0s;
			&:before {
				content: url(../img/icons/arrow_gray.png);
				position: absolute;
				top: 2px;
				left: 0;
			}
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
.recent-blog {
	margin: 0px 0px 37px 0px;
	&__item {
		margin: 0px 0px 0px 13px;
		padding: 12px 0px;
		border-bottom: 1px solid #e5e6e6;
	}
	&__title {
		margin: 0px 0px 11px 0px;
		a {
			line-height: 20px;
			font-weight: 600;
			color: #e2534b;
		}
		span {
			color: #62b9b0;
			margin: 0px 13px 0px 0px;
		}
	}
	&__date {
		font-size: 12px;
		line-height: 20px;
		color: #7f8c8c;
		margin: 0px 0px 0px 30px;
	}
}
.blog-tags {
	margin: 0px 0px 37px 0px;
	&__body {
		display: flex;
		flex-wrap: wrap;
		margin: 0px 0px 0px 13px;
	}
	&__link {
		background-color: #7f8c8c;
		border-radius: 5px;
		padding: 8px;
		margin: 0px 10px 10px 0px;
		line-height: 20px;
		color: #ffffff;
		transition: all 0.3s ease 0s;
		&:hover {
			background-color: #e2534b;
		}
	}
}
//=======================================================================================================

//=======================================================================================================
