//====================================================================================================
.header {
	background-color: #76c7c0;
	position: relative;
	z-index: 50;
	&:after {
		content: url(../img/items/ruler_dark.png);
		opacity: 0.1;
		position: absolute;
		top: 68px;
		@media (max-width: $md4 + px) {
			top: 48px;
		}
	}
	&__content {
		height: 80px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media (max-width: $md2 + px) {
			justify-content: center;
		}
		@media (max-width: $md4 + px) {
			height: 60px;
		}
	}
	&__logo {
		margin-bottom: 8px;
		img {
			@media (max-width: $md2 + px) {
				width: 150px;
				height: 18px;
			}
			@media (max-width: 820px) {
				width: 120px;
				height: 14px;
			}
			@media (max-width: $md3 + px) {
				width: 190px;
				height: 19px;
			}
		}
		@media (max-width: $md3 + px) {
			z-index: 51;
			margin-right: auto;
		}
	}
	&__menu {
		margin-right: -150px;
		@media (max-width: 1185px) {
			margin-right: -50px;
		}
		@media (max-width: $md2 + px) {
			margin: 0px 40px 0px 10px;
		}
	}
}

.menu {
	&__body {
		@media (max-width: $md3 + px) {
			position: fixed;
			overflow: auto;
			top: 0;
			left: -100%;
			width: 100%;
			height: 100%;
			background-color: #76c7c0;
			padding: 100px 30px 30px 30px;
			transition: left 0.3s ease 0s;
			&:before {
				content: "";
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 80px;
				z-index: 58;
			}
			&.active {
				left: 0;
				&:before {
					background-color: #76c7c0;
				}
			}
		}
	}
	&__list {
		@media (max-width: $md3 + px) {
			font-size: 22px;
			> li._active-menu {
				.menu__sub-list {
					display: block;
				}
			}
		}
		li {
			position: relative;
			margin: 0px 0px 0px 20px;
			@media (max-width: 1185px) {
				margin: 0px 0px 0px 10px;
			}
			@media (max-width: $md3 + px) {
				margin: 0px 0px 30px 0px;
			}
			&:last-child {
				@media (max-width: $md3 + px) {
					margin: 0px 0px 0px 0px;
				}
			}
		}
		@media (min-width: $md3 + px) {
			display: flex;
			align-items: center;
			li {
				padding: 10px;
				border-bottom: 5px solid transparent;
				transition: all 0.3s ease 0s;
				&:hover {
					cursor: pointer;
					border-radius: 5px;
					background: #e6655e;
					border-bottom: 5px solid #e2534b;
				}
				@media (max-width: $md2 + px) and (min-width: $md3 + px) {
					padding: 7px;
					&:nth-child(4) {
						display: flex;
					}
				}
			}
		}
	}
	&__link {
		color: #fff;
		line-height: 16px;
		font-weight: 600;
		text-transform: uppercase;
		&-s {
			&:hover {
				padding-bottom: 28px;
			}
		}
	}
	&__sub-list {
		position: absolute;
		top: 125%;
		left: 0;
		min-width: 200px;
		border-radius: 5px;
		z-index: 51;
		background-color: #e2534b;
		padding: 5px 0px 0px 0px;
		li {
			white-space: nowrap;
			padding: 0px 0px 0px 0px;
			margin: 0px 0px 0px 0px;
			border-radius: 5px;
			@media (max-width: 1185px) {
				margin: 0px 0px 0px 0px;
			}
			@media (max-width: $md3 + px) {
				padding: 10px 0px 10px 0px;
				margin: 6px 5px 6px 0px;
				&:last-child {
					padding: 10px 0px 10px 0px;
					margin: 6px 5px 6px 0px;
				}
			}
		}
		@media (min-width: $md3 + px) {
			transform: translate(0px, 10%);
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
		}
		@media (max-width: $md3 + px) {
			position: relative;
			flex: 1 1 auto;
			margin: 20px 0px 0px 0px;
			padding: 1px 0px 7px 0px;
			display: none;
		}
	}

	&__sub-link {
		font-weight: 600;
		color: #fff;
		line-height: 1.23;
		background-color: #e6655e;
		padding: 8px 17px 8px 11px;
		&:hover {
			background-color: #76c7c0;
			border-radius: 5px;
		}
		span {
			margin-right: 8px;
			@media (max-width: $md3 + px) {
				margin-bottom: 3px;
			}
			@media (max-width: $md2 + px) and (min-width: $md3 + px) {
				margin-bottom: 2px;
			}
		}
		@media (max-width: $md3 + px) {
			background-color: transparent;
			padding: 10px;
			border-bottom: 1px solid transparent;
			&:hover {
				background-color: transparent;
				color: #8cdfd8;
			}
		}
	}
}

body._pc .menu__list > li:hover .menu__sub-list {
	opacity: 1;
	visibility: visible;
	transform: translate(0, 0);
	pointer-events: all;
}

body._touch .menu__list > li._active-menu .menu__sub-list {
	opacity: 1;
	visibility: visible;
	transform: translate(0, 0);
	pointer-events: all;
}

body._pc .menu__list > li:hover .arrow-down,
body._touch .menu__list > li._active-menu .arrow-down {
	margin-bottom: -2px;
	transform: rotate(-135deg);
	@media (max-width: $md3 + px) {
		margin-bottom: 1px;
	}
	@media (max-width: $md2 + px) and (min-width: $md3 + px) {
		margin: 5px 6px 2px 0px;
	}
}
body._pc .menu__list > li:hover .triangle-menu {
	display: block;
}
//====================================================================================================
.icon-menu {
	@media (max-width: $md3 + px) {
		display: block;
		position: absolute;
		top: 28px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			@include anim(0.3s, 0s);
			top: 8px;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #fff;
			border-radius: 5px;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		@media (max-width: $md4 + px) {
			top: 18px;
		}
		&.active {
			span {
				@include scale(0);
				&:first-child {
					@include rotate(-45deg);
					top: 8px;
				}
				&:last-child {
					@include rotate(45deg);
					bottom: 8px;
				}
			}
		}
	}
}
//====================================================================================================
