/* Слайдер */
.slick-slider {
}
/* Слайдер запущен */
.slick-slider.slick-initialized {
}
/* Слайдер с точками */
.slick-slider.slick-dotted {
}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track {
	display: flex;
}
/* Слайд */
.slick-slide {
}
/* Слайд активный (показывается) */
.slick-slide.slick-active {
}
/* Слайд основной */
.slick-slide.slick-current {
}
/* Слайд по центру */
.slick-slide.slick-center {
}
/* Клонированный слайд */
.slick-slide.slick-cloned {
}
/* Стрелка */
.slick-arrow {
}
/* Стрелка влево */
.slick-arrow.slick-prev {
}
/* Стрелка вправо */
.slick-arrow.slick-next {
}
/* Стрелка не активная */
.slick-arrow.slick-disabled {
}
/* Точки (булиты) */
.slick-dots {
}
.slick-dots li {
}
/* Активная точка */
.slick-dots li.slick-active {
}
/* Элемент точки */
.slick-dots li button {
}
//=======================================================================================================
.home {
	&__slider {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #7f8c8c;
		width: 100%;
		// min-width: 0;
		min-height: calc(100vh - 130px);
		position: relative;
		@media (max-width: $md4 + px) {
			min-height: calc(100vh - 110px);
		}
		.slick-arrow {
			font-size: 0;
			position: absolute;
			z-index: 80;
		}
		.slick-arrow.slick-prev {
			background-color: #e6655e;
			width: 50px;
			height: 57px;
			border-bottom: 3px solid #e2534b;
			border-radius: 5px;
			transition: all 0.3s ease 0s;
			left: 0;
			&:before {
				content: url(../img/icons/double-arrows-left.png);
				position: absolute;
				top: 18px;
				left: 10px;
			}
			&:active {
				background-color: #e2534b;
			}
		}
		.slick-arrow.slick-next {
			background-color: #e6655e;
			width: 50px;
			height: 57px;
			border-bottom: 3px solid #e2534b;
			border-radius: 5px;
			transition: all 0.3s ease 0s;
			right: 0;
			&:before {
				content: url(../img/icons/double-arrows-right.png);
				position: absolute;
				top: 18px;
				right: 10px;
			}
		}
		.slick-dots {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			bottom: -30px;
		}
		.slick-dots li {
			list-style: none;
			margin: 0px 5px;
		}
		.slick-dots li button {
			font-size: 0;
			width: 60px;
			height: 5px;
			background-color: #b0b8b9;
			transition: all 0.3s ease 0s;
		}
		.slick-dots li.slick-active button {
			background-color: #e2534b;
		}
	}
	&__slider-item {
		display: inline-flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}
.slider-home {
	&__title {
		display: inline-block;
		color: #fff;
		text-transform: uppercase;
		font-size: 50px;
		font-weight: 800;
		line-height: 1.2;
		background-color: #e2534b;
		padding: 6px 12px;
		border-radius: 5px;
		margin: 0px 0px 10px 0px;
		@media (max-width: $md2 + px) {
			font-size: 42px;
		}
		@media (max-width: 580px) {
			font-size: 36px;
		}
		@media (max-width: $md4 + px) {
			font-size: 32px;
		}
	}
	&__subtitle {
		display: inline-block;
		max-width: 470px;
		border-radius: 5px;
		text-align: center;
		font-size: 16px;
		color: #fff;
		line-height: 1.63;
		background-color: #000;
		padding: 15px 38px;
		@media (max-width: $md2 + px) {
			font-size: 14px;
			max-width: 450px;
		}
		@media (max-width: 580px) {
			padding: 10px 30px;
			max-width: 400px;
		}
		@media (max-width: $md4 + px) {
			padding: 10px 20px;
			max-width: 250px;
		}
	}
}
//=======================================================================================================
.home__clients-body {
	position: relative;
	min-width: 0;
	.slick-arrow {
		position: absolute;
		top: -65px;
		font-size: 0;
		width: 40px;
		height: 37px;
		border-bottom: 3px solid #7f8c8c;
		border-radius: 5px;
		@media (max-width: $md3 + px) {
			top: -53px;
		}
		@media (max-width: $md4 + px) {
			top: -43px;
			width: 35px;
			height: 35px;
		}
	}
	.slick-arrow.slick-prev {
		right: 59px;
		background-color: #b0b8b9;
		transition: all 0.3s ease 0s;
		&:before {
			content: url(../img/icons/arrow_left.png);
		}
		&:hover {
			background-color: #e6655e;
			border-bottom: 3px solid #e2534b;
		}
		@media (max-width: $md3 + px) {
			right: 55px;
		}
		@media (max-width: $md4 + px) {
			right: 43px;
		}
	}
	.slick-arrow.slick-next {
		right: 0;
		background-color: #b0b8b9;
		transition: all 0.3s ease 0s;
		&:before {
			content: url(../img/icons/arrow_right.png);
		}
		&:hover {
			background-color: #e6655e;
			border-bottom: 3px solid #e2534b;
		}
	}
}
.body-clients {
	&__item {
		background-color: #f8f8f8;
		padding: 34px;
		border-radius: 5px;
		margin: 0px 15px;
		max-width: 170px;
		max-height: 90px;
		@media (max-width: $md2 + px) {
			margin: 0px 10px;
		}
		@media (max-width: 558px) {
			margin: 0px 25px;
		}
		@media (max-width: $md4 + px) {
			margin: 0px 13px;
		}
	}
}
//=======================================================================================================
.project {
	&__slider {
		margin: 0px 0px 118px 0px;
		@media (max-width: $md2 + px) {
			margin: 0px 0px 90px 0px;
		}
		@media (max-width: $md3 + px) {
			margin: 0px 0px 70px 0px;
		}
		@media (max-width: $md4 + px) {
			margin: 0px 0px 50px 0px;
		}
	}
	&__slider-title {
		font-size: 25px;
		line-height: 30px;
		font-weight: 700;
		color: #7f8c8c;
		margin: 55px 0px;
		@media (max-width: $md2 + px) {
			margin: 40px 0px;
			font-size: 22px;
			line-height: 28px;
		}
		@media (max-width: $md3 + px) {
			margin: 30px 0px;
		}
		@media (max-width: $md4 + px) {
			margin: 20px 0px;
			font-size: 20px;
			line-height: 26px;
		}
	}
	&__slider-content {
		position: relative;
		.slick-arrow {
			font-size: 0;
			position: absolute;
			top: 45%;
			z-index: 80;
			@media (max-width: $md2 + px) {
				top: 42%;
			}
		}
		.slick-arrow.slick-prev {
			background-color: #e6655e;
			width: 50px;
			height: 57px;
			border-bottom: 3px solid #e2534b;
			border-radius: 0px 5px 5px 0px;
			transition: all 0.3s ease 0s;
			left: 0;
			&:before {
				content: url(../img/icons/double-arrows-left.png);
				position: absolute;
				top: 18px;
				left: 10px;
			}
		}
		.slick-arrow.slick-next {
			right: 0;
			background-color: #e6655e;
			width: 50px;
			height: 57px;
			border-bottom: 3px solid #e2534b;
			border-radius: 5px 0px 0px 5px;
			transition: all 0.3s ease 0s;
			&:before {
				content: url(../img/icons/double-arrows-right.png);
				position: absolute;
				top: 18px;
				right: 10px;
			}
		}
		.slick-arrow.slick-disabled {
			background-color: #e6655e88;
			border-bottom: 3px solid #e6655e94;
		}
		.slick-dots {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			bottom: -30px;
			@media (max-width: $md4 + px) {
				bottom: -20px;
			}
		}
		.slick-dots li {
			list-style: none;
			margin: 0px 5px;
		}
		.slick-dots li button {
			font-size: 0;
			width: 60px;
			height: 5px;
			background-color: #b0b8b9;
			transition: all 0.3s ease 0s;
			@media (max-width: $md4 + px) {
				width: 40px;
			}
		}
		.slick-dots li.slick-active button {
			background-color: #e2534b;
		}
	}
}
.slider-project {
	width: 100%;
	background-color: #f8f8f8;
	border-bottom: 3px solid #e5e6e6;
	border-radius: 5px;
	&__img {
		text-align: center;
		padding: 305px 0px;
		@media (max-width: $md2 + px) {
			padding: 205px 0px;
		}
		@media (max-width: $md3 + px) {
			padding: 150px 0px;
		}
		@media (max-width: $md4 + px) {
			padding: 90px 0px;
		}
	}
}
//=======================================================================================================
.projects__slider-body {
	position: relative;
	min-width: 0;
	.slick-arrow {
		position: absolute;
		top: -65px;
		font-size: 0;
		width: 40px;
		height: 37px;
		border-bottom: 3px solid #7f8c8c;
		border-radius: 5px;
		@media (max-width: $md3 + px) {
			top: -53px;
		}
		@media (max-width: $md4 + px) {
			top: -43px;
			width: 35px;
			height: 35px;
		}
	}
	.slick-arrow.slick-prev {
		right: 59px;
		background-color: #b0b8b9;
		transition: all 0.3s ease 0s;
		&:before {
			content: url(../img/icons/arrow_left.png);
		}
		&:hover {
			background-color: #e6655e;
			border-bottom: 3px solid #e2534b;
		}
		@media (max-width: $md3 + px) {
			right: 55px;
		}
		@media (max-width: $md4 + px) {
			right: 43px;
		}
	}
	.slick-arrow.slick-next {
		right: 0;
		background-color: #b0b8b9;
		transition: all 0.3s ease 0s;
		&:before {
			content: url(../img/icons/arrow_right.png);
		}
		&:hover {
			background-color: #e6655e;
			border-bottom: 3px solid #e2534b;
		}
	}
}
//=======================================================================================================
.blog-single {
	&__slider {
		margin: 33px 0px 0px 0px;
		max-width: 750px;
		width: 100%;
		position: relative;
		@media (max-width: $md4 + px) {
			margin: 23px 0px 0px 0px;
		}
		.slick-arrow {
			font-size: 0;
			position: absolute;
			top: 45%;
			z-index: 80;
			@media (max-width: $md2 + px) {
				top: 42%;
			}
		}
		.slick-arrow.slick-prev {
			background-color: #e6655e;
			width: 50px;
			height: 57px;
			border-bottom: 3px solid #e2534b;
			border-radius: 0px 5px 5px 0px;
			transition: all 0.3s ease 0s;
			left: 0;
			&:before {
				content: url(../img/icons/double-arrows-left.png);
				position: absolute;
				top: 18px;
				left: 10px;
			}
		}
		.slick-arrow.slick-next {
			right: 0;
			background-color: #e6655e;
			width: 50px;
			height: 57px;
			border-bottom: 3px solid #e2534b;
			border-radius: 5px 0px 0px 5px;
			transition: all 0.3s ease 0s;
			&:before {
				content: url(../img/icons/double-arrows-right.png);
				position: absolute;
				top: 18px;
				right: 10px;
			}
		}
		.slick-arrow.slick-disabled {
			background-color: #e6655e88;
			border-bottom: 3px solid #e6655e94;
		}
		.slick-dots {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			bottom: -30px;
			@media (max-width: $md4 + px) {
				bottom: -20px;
			}
		}
		.slick-dots li {
			list-style: none;
			margin: 0px 5px;
		}
		.slick-dots li button {
			font-size: 0;
			width: 60px;
			height: 5px;
			background-color: #b0b8b9;
			transition: all 0.3s ease 0s;
			@media (max-width: $md4 + px) {
				width: 40px;
			}
		}
		.slick-dots li.slick-active button {
			background-color: #e2534b;
		}
	}
}
.slider-blog {
	&__item {
		background-color: #f8f8f8;
		text-align: center;
		padding: 150px 0px;
		border-radius: 5px;
		border-bottom: 3px solid #e5e6e6;
		@media (max-width: $md4 + px) {
			padding: 100px 0px;
		}
	}
	&__text {
		margin: 50px 0px 0px 0px;
		font-size: 25px;
		line-height: 30px;
		font-weight: 700;
		color: #b0b8b8;
		@media (max-width: $md3 + px) {
			font-size: 22px;
			line-height: 26px;
		}
		@media (max-width: $md4 + px) {
			margin: 30px 0px 0px 0px;
			font-size: 20px;
			line-height: 24px;
		}
	}
}
//=======================================================================================================
.features {
	&__slider {
		position: relative;
		.slick-arrow {
			font-size: 0;
			position: absolute;
			top: 45%;
			z-index: 80;
			@media (max-width: $md2 + px) {
				top: 42%;
			}
		}
		.slick-arrow.slick-prev {
			background-color: #e6655e;
			width: 50px;
			height: 57px;
			border-bottom: 3px solid #e2534b;
			border-radius: 0px 5px 5px 0px;
			transition: all 0.3s ease 0s;
			left: 0;
			&:before {
				content: url(../img/icons/double-arrows-left.png);
				position: absolute;
				top: 18px;
				left: 10px;
			}
		}
		.slick-arrow.slick-next {
			right: 0;
			background-color: #e6655e;
			width: 50px;
			height: 57px;
			border-bottom: 3px solid #e2534b;
			border-radius: 5px 0px 0px 5px;
			transition: all 0.3s ease 0s;
			&:before {
				content: url(../img/icons/double-arrows-right.png);
				position: absolute;
				top: 18px;
				right: 10px;
			}
		}
		.slick-arrow.slick-disabled {
			background-color: #e6655e88;
			border-bottom: 3px solid #e6655e94;
		}
		.slick-dots {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			bottom: -30px;
			@media (max-width: $md4 + px) {
				bottom: -20px;
			}
		}
		.slick-dots li {
			list-style: none;
			margin: 0px 5px;
		}
		.slick-dots li button {
			font-size: 0;
			width: 60px;
			height: 5px;
			background-color: #b0b8b9;
			transition: all 0.3s ease 0s;
			@media (max-width: $md4 + px) {
				width: 40px;
			}
		}
		.slick-dots li.slick-active button {
			background-color: #e2534b;
		}
	}
}
.project-slideshow {
	&__item {
		background-color: #f8f8f8;
		text-align: center;
		padding: 250px 0px 150px;
		border-radius: 5px;
		border-bottom: 3px solid #e5e6e6;
	}
	&__text {
		font-size: 25px;
		line-height: 30px;
		font-weight: 700;
		color: #b0b8b9;
		margin: 100px 0px 0px 0px;
	}
}
//=======================================================================================================
.page-slideshow {
	max-width: 74%;
	width: 100%;
	position: relative;
	margin: 0px 30px 0px 0px;
	&__item {
		background-color: #f8f8f8;
		text-align: center;
		padding: 240px 0px 145px;
		border-radius: 5px;
		border-bottom: 3px solid #e5e6e6;
	}
	&__img {
		img {
			width: 109px;
			height: auto;
		}
	}
	&__text {
		font-size: 25px;
		line-height: 30px;
		font-weight: 700;
		color: #b0b8b8;
		margin: 74px 0px 0px 0px;
	}
	.slick-arrow {
		font-size: 0;
		position: absolute;
		top: 45%;
		z-index: 80;
		@media (max-width: $md2 + px) {
			top: 42%;
		}
	}
	.slick-arrow.slick-prev {
		background-color: #e6655e;
		width: 50px;
		height: 57px;
		border-bottom: 3px solid #e2534b;
		border-radius: 0px 5px 5px 0px;
		transition: all 0.3s ease 0s;
		left: 0;
		&:before {
			content: url(../img/icons/double-arrows-left.png);
			position: absolute;
			top: 18px;
			left: 10px;
		}
	}
	.slick-arrow.slick-next {
		right: 0;
		background-color: #e6655e;
		width: 50px;
		height: 57px;
		border-bottom: 3px solid #e2534b;
		border-radius: 5px 0px 0px 5px;
		transition: all 0.3s ease 0s;
		&:before {
			content: url(../img/icons/double-arrows-right.png);
			position: absolute;
			top: 18px;
			right: 10px;
		}
	}
	.slick-arrow.slick-disabled {
		background-color: #e6655e88;
		border-bottom: 3px solid #e6655e94;
	}
	.slick-dots {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		bottom: -30px;
		@media (max-width: $md4 + px) {
			bottom: -20px;
		}
	}
	.slick-dots li {
		list-style: none;
		margin: 0px 5px;
	}
	.slick-dots li button {
		font-size: 0;
		width: 60px;
		height: 5px;
		background-color: #b0b8b9;
		transition: all 0.3s ease 0s;
		@media (max-width: $md4 + px) {
			width: 40px;
		}
	}
	.slick-dots li.slick-active button {
		background-color: #e2534b;
	}
}
//=======================================================================================================
.sidebar-slideshow {
	max-width: 270px;
	width: 100%;
	position: relative;
	&__item {
		background-color: #f8f8f8;
		text-align: center;
		padding: 58px 0px 37px;
		border-radius: 5px;
		border-bottom: 3px solid #e5e6e6;
	}
	&__img {
		img {
			width: 53px;
			height: auto;
		}
	}
	&__text {
		font-size: 16px;
		line-height: 19px;
		font-weight: 700;
		color: #b0b8b8;
		margin: 20px 0px 0px 0px;
	}
	.slick-arrow {
		font-size: 0;
		position: absolute;
		top: 38%;
		z-index: 80;
		// @media (max-width: $md2 + px) {
		// 	top: 42%;
		// }
	}
	.slick-arrow.slick-prev {
		background-color: #e6655e;
		width: 40px;
		height: 37px;
		border-bottom: 3px solid #e2534b;
		border-radius: 0px 5px 5px 0px;
		transition: all 0.3s ease 0s;
		left: 0;
		&:before {
			content: url(../img/icons/arrow_left.png);
			position: absolute;
			top: 10px;
			left: 11px;
		}
	}
	.slick-arrow.slick-next {
		right: 0;
		background-color: #e6655e;
		width: 40px;
		height: 37px;
		border-bottom: 3px solid #e2534b;
		border-radius: 5px 0px 0px 5px;
		transition: all 0.3s ease 0s;
		&:before {
			content: url(../img/icons/arrow_right.png);
			position: absolute;
			top: 10px;
			right: 12px;
		}
	}
	.slick-arrow.slick-disabled {
		background-color: #e6655e88;
		border-bottom: 3px solid #e6655e94;
	}
	.slick-dots {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		bottom: -24px;
		@media (max-width: $md4 + px) {
			bottom: -16px;
		}
	}
	.slick-dots li {
		list-style: none;
		margin: 0px 5px;
	}
	.slick-dots li button {
		font-size: 0;
		width: 30px;
		height: 5px;
		background-color: #b0b8b9;
		transition: all 0.3s ease 0s;
		@media (max-width: $md4 + px) {
			width: 20px;
		}
	}
	.slick-dots li.slick-active button {
		background-color: #e2534b;
	}
}
//=======================================================================================================
