/* Слайдер */
.slick-slider {
}
/* Слайдер запущен */
.slick-slider.slick-initialized {
}
/* Слайдер с точками */
.slick-slider.slick-dotted {
}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track {
	display: flex;
}
/* Слайд */
.slick-slide {
}
/* Слайд активный (показывается) */
.slick-slide.slick-active {
}
/* Слайд основной */
.slick-slide.slick-current {
}
/* Слайд по центру */
.slick-slide.slick-center {
}
/* Клонированный слайд */
.slick-slide.slick-cloned {
}
/* Стрелка */
.slick-arrow {
}
/* Стрелка влево */
.slick-arrow.slick-prev {
}
/* Стрелка вправо */
.slick-arrow.slick-next {
}
/* Стрелка не активная */
.slick-arrow.slick-disabled {
}
/* Точки (булиты) */
.slick-dots {
}
.slick-dots li {
}
/* Активная точка */
.slick-dots li.slick-active {
}
/* Элемент точки */
.slick-dots li button {
}
//=======================================================================================================
.home {
	&__slider {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #7f8c8c;
		// position: absolute;
		width: 100%;
		// height: calc(100% - 130px);
		min-height: calc(100vh - 130px);
		.slick-arrow {
			font-size: 0;
		}
		.slick-arrow.slick-prev {
			background-color: #e6655e;
			width: 50px;
			height: 57px;
			border-bottom: 3px solid #e2534b;
			border-radius: 5px;
			position: relative;
			transition: all 0.3s ease 0s;
			&:before {
				content: url(../img/icons/double-arrows-left.png);
				position: absolute;
				top: 18px;
				left: 10px;
			}
			&:active {
				background-color: #e2534b;
			}
		}
		.slick-arrow.slick-next {
			background-color: #e6655e;
			width: 50px;
			height: 57px;
			border-bottom: 3px solid #e2534b;
			border-radius: 5px;
			position: relative;
			transition: all 0.3s ease 0s;
			&:before {
				content: url(../img/icons/double-arrows-right.png);
				position: absolute;
				top: 18px;
				right: 10px;
			}
			&:active {
				background-color: #e2534b;
			}
		}
		.slick-dots {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			bottom: -30px;
		}
		.slick-dots li {
			list-style: none;
			margin: 0px 5px;
		}
		.slick-dots li button {
			font-size: 0;
			width: 60px;
			height: 5px;
			background-color: #b0b8b9;
			transition: all 0.3s ease 0s;
		}
		.slick-dots li.slick-active button {
			background-color: #e2534b;
		}
	}
	&__slider-item {
		display: inline-flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}
.slider-home {
	&__title {
		display: inline-block;
		color: #fff;
		text-transform: uppercase;
		font-size: 50px;
		font-weight: 800;
		line-height: 1.2;
		background-color: #e2534b;
		padding: 6px 12px;
		border-radius: 5px;
		margin: 0px 0px 10px 0px;
	}
	&__subtitle {
		display: inline-block;
		max-width: 470px;
		border-radius: 5px;
		text-align: center;
		font-size: 16px;
		color: #fff;
		line-height: 1.63;
		background-color: #000;
		padding: 15px 38px;
	}
}
//=======================================================================================================
.home__clients-body {
	position: relative;
	.slick-arrow {
		position: absolute;
		top: -65px;
		font-size: 0;
		width: 40px;
		height: 37px;
		border-bottom: 3px solid #7f8c8c;
		border-radius: 5px;
	}
	.slick-arrow.slick-prev {
		right: 59px;
		background-color: #b0b8b9;
		transition: all 0.3s ease 0s;
		&:before {
			content: url(../img/icons/arrow_left.png);
		}
		&:hover {
			background-color: #e6655e;
			border-bottom: 3px solid #e2534b;
		}
	}
	.slick-arrow.slick-next {
		right: 0;
		background-color: #b0b8b9;
		transition: all 0.3s ease 0s;
		&:before {
			content: url(../img/icons/arrow_right.png);
		}
		&:hover {
			background-color: #e6655e;
			border-bottom: 3px solid #e2534b;
		}
	}
}
.body-clients {
	&__item {
		background-color: #f8f8f8;
		padding: 34px;
		border-radius: 5px;
		margin: 0px 15px;
		max-width: 170px;
		max-height: 90px;
	}
}
//=======================================================================================================
