//<МИКСИНЫ>==============================================================================================
@import "mixins";
//</МИКСИНЫ>=============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>====================================================================================
@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular,italic,600,600italic,800);
//</Подключаем шрифты>===================================================================================

//<Иконочные шрифты>=====================================================================================

//</Иконочные шрифты>====================================================================================

//<Шрифт по умолчанию>===================================================================================
$fontfamily: "Open Sans";
//</Шрифт по умолчанию>==================================================================================

//</ШРИФТЫ>==============================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================
$minwidth: 320px;
$mw: 1170;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>==========================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===========================================================================
@import "null.scss";
body {
	color: #777;
	font-size: 14px;
	&.lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>==========================================================================

//<ОБОЛОЧКА>=============================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	&.loaded {
	}
}
//</ОБОЛОЧКА>============================================================================================

//<ОСНОВНАЯ СЕТКА>=======================================================================================
.container {
	max-width: $mw + px;
	margin: 0 auto;
	width: 100%;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}
//</ОСНОВНАЯ СЕТКА>======================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>=================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>========================================================
//@import "../../js/fancybox/jquery.fancybox";
//@import "datepicker";
//@import "fontawesome";
//@import "popover.min";
//@import "baguetteBox";
//@import "pagging";
//@import "icons";
@import "popup";
@import "header";
@import "footer";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=======================================================

//<ОСНОВНОЙ БЛОК>========================================================================================

//=======================================================================================================

//</ОСНОВНОЙ БЛОК>=======================================================================================
