//<ОСНОВНОЙ БЛОК>====================================================================================
.section-title {
	font-size: 16px;
	line-height: 19px;
	font-weight: 800;
	color: #7f8c8c;
}
//===================================================================================================
.block {
	&__header {
		background-color: #ececec;
	}
	&__header-content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 80px;
		position: relative;
		&:before {
			content: "";
			position: absolute;
			top: 80px;
			width: 0;
			height: 0;
			border-left: 12px solid transparent;
			border-right: 12px solid transparent;
			border-top: 12px solid #ececec;
			z-index: 40;
			@media (max-width: $md2 + px) {
				top: 70px;
			}
			@media (max-width: $md3 + px) {
				top: 60px;
			}
			@media (max-width: $md4 + px) {
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
				border-top: 10px solid #ececec;
				top: 49px;
			}
		}
		@media (max-width: $md2 + px) {
			height: 70px;
		}
		@media (max-width: $md3 + px) {
			height: 60px;
		}
		@media (max-width: $md4 + px) {
			height: 50px;
		}
	}
	&__header-name {
		text-transform: uppercase;
		color: #7f8c8c;
		font-size: 20px;
		line-height: 24px;
		font-weight: 600;
		@media (max-width: $md2 + px) {
			font-size: 18px;
			line-height: 22px;
		}
		@media (max-width: $md3 + px) {
			font-size: 16px;
			line-height: 20px;
		}
		@media (max-width: $md4 + px) {
			font-size: 14px;
			line-height: 18px;
		}
	}
	&__header-links {
		a {
			color: #7f8c8c;
			font-size: 12px;
			line-height: 14px;
			transition: all 0.3s ease 0s;
			&:hover {
				text-decoration: underline;
			}
			@media (max-width: $md4 + px) {
				font-size: 10px;
				line-height: 12px;
			}
		}
	}
}
//===================================================================================================
.triangle {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	transition: transition 0.3s ease 0s;
	@media (max-width: $md3 + px) {
		display: none;
	}
	&-menu {
		display: none;
		border-bottom: 5px solid #e2534b;
		position: absolute;
		top: 45px;
		left: 12px;
		@media (max-width: $md3 + px) {
			display: none;
		}
	}
	&-search {
		display: none;
		position: absolute;
		border-bottom: 5px solid #e2534b;
		top: 42px;
		right: 15px;
		&__active {
			display: block;
			@media (max-width: $md3 + px) {
				display: block;
				top: 42px;
				right: 60px;
			}
		}
	}
}
//===================================================================================================
.arrow {
	border: solid #fff;
	border-width: 0 2px 2px 0;
	border-radius: 2px;
	display: inline-block;
	padding: 3px;
	&-down {
		transform: rotate(45deg);
		margin: 0px 6px 2px 0px;
		transition: transform 0.3s ease 0s;
		@media (max-width: $md2 + px) and (min-width: $md3 + px) {
			margin: 5px 6px 2px 0px;
		}
		&-1 {
			@media (max-width: $md3 + px) {
				margin-bottom: 5px;
				display: none;
			}
		}
		&-2 {
			@media (min-width: $md3 + px) {
				display: none;
			}
			@media (max-width: $md3 + px) {
				border-width: 0 3px 3px 0;
				margin: 0px 0px 5px 6px;
				display: inline-block;
			}
		}
	}
	&-right {
		transform: rotate(-45deg);
		padding: 2px;
	}
	&-left {
		transform: rotate(135deg);
	}
	&-up {
		transform: rotate(-135deg);
	}
}
.list-arrow {
	position: relative;
	top: -3px;
	width: 8px;
	height: 3px;
	background-color: #e1524b;
	left: 0;
	display: inline-block;
	&:after {
		content: "";
		position: absolute;
		width: 3px;
		height: 8px;
		top: -1px;
		right: -1px;
		background-color: #e1524b;
		transform: rotate(45deg);
	}
	&:before {
		content: "";
		position: absolute;
		width: 3px;
		height: 7px;
		top: -4px;
		right: -1px;
		background-color: #e1524b;
		transform: rotate(-45deg);
	}
}
//===================================================================================================
.img-svg {
	width: 52px;
	height: 57px;
	margin: 0px 0px 17px 0px;
	@media (max-width: $md3 + px) {
		width: 45px;
		height: 50px;
		margin: 0px 0px 14px 0px;
	}
}
.img-svg path {
	fill: #62bdbd;
}
//===================================================================================================
.circles {
	&-text {
		font-size: 30px;
		line-height: 36px;
		font-weight: 800;
		color: #7f8c8c;
	}
}
//</ОСНОВНОЙ БЛОК>===================================================================================

//<ГОТОВЫЕ КЛАССЫ>===================================================================================

//===================================================================================================

//</ГОТОВЫЕ КЛАССЫ>==================================================================================
